<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="players-grid">

    @for (player of players(); track player.id) {

      <div class="player-tile">

        <player-card
          [name]="player.name"
          [team]="player.team"
          [league]="player.league"
          [imageUrl]="player.imageUrl">
        </player-card>

        <ion-button
          expand="block"
          [routerLink]="['/players', player.id]"
          class="detail-button">

          Ver detalle

        </ion-button>

      </div>

    }

  </div>

</ion-content>