<ion-app>

  <ion-menu contentId="main-content">

    <ion-header>
      <ion-toolbar>
        <ion-title>footBallApp</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="burguer-list">
        <ion-item routerLink="/players" routerDirection="root">
          Jugadores
        </ion-item>

        <ion-item routerLink="/players/local-search" routerDirection="root">
          Buscar jugadores
        </ion-item>

        @if (!authService.isLoggedIn()) {
          <ion-item routerLink="/login" routerDirection="root">
            Iniciar sesión
          </ion-item>

          <ion-item routerLink="/register" routerDirection="root">
            Registrarse
          </ion-item>
        }

        @if (authService.isLoggedIn()) {
          <ion-item routerLink="/players/search" routerDirection="root">
            Buscar jugadores en API externa
          </ion-item>

          <ion-item routerLink="/players/create" routerDirection="root">
            Crear jugador
          </ion-item>

          <ion-item routerLink="/players/ideal-team" routerDirection="root">
            Formar equipo ideal
          </ion-item>

          <ion-item routerLink="/news" routerDirection="root">
            Noticias CORBA
          </ion-item>

          @if (authService.isAdmin()) {
            <ion-item routerLink="/admin/news" routerDirection="root">
              Dar de alta noticia
            </ion-item>
          }

          <ion-item button (click)="logout()">
            Cerrar sesión
          </ion-item>
        }
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>