<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Noticias CORBA</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="readNews()">
    Leer noticia
  </ion-button>

  <ion-button expand="block" (click)="consumeNews()">
    Consumir noticia
  </ion-button>

  @if (currentNews()) {

    <ion-card>
      <ion-card-content>
        <pre>{{ currentNews() }}</pre>
      </ion-card-content>
    </ion-card>

  }

</ion-content>