<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/players"></ion-back-button>
    </ion-buttons>

    <ion-title>Registro</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding register-page">

  <div class="form-container">

    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        type="email"
        [value]="email()"
        (ionInput)="email.set($any($event.detail).value)">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Contraseña (de al menos 6 caracteres)"
        labelPlacement="floating"
        type="password"
        [value]="password()"
        (ionInput)="password.set($any($event.detail).value)">
      </ion-input>
    </ion-item>

    <ion-button
      expand="block"
      class="primary-action"
      [disabled]="!email() || !password() || password().length < 6"
      (click)="register()">

      Registrarse

    </ion-button>

    <ion-button
      fill="clear"
      class="secondary-action"
      routerLink="/login">

      Ya tengo cuenta

    </ion-button>

  </div>

</ion-content>